
<% include ../partials/boilerplate %>

<% receipe.forEach(receipe => { %>
  <div class="receipe">
    <h4>
      <a href="<%= `/receipe/${receipe.id}` %>">
        <%= receipe.title %>
      </a>
    </h4>
    <img src="<%= receipe.picture%>" alt="<%= receipe.title %>" />
    <p><%= receipe.direction %></p>
  </div>
<% }) // end of foreach%>


<% include ../partials/end %>
