<%# views/receipe/index.ejs %>

<h1>All the receipes</h1>
<a href="/receipe/new">Add a new receipe!</a>
<% receipe.forEach(receipe => { %>
  <div class="receipe">
    <h4>
      <a href="<%= `/receipe/${receipe.id}` %>">
        <%= receipe.title %>
      </a>
    </h4>
    <img src="<%= receipe.picture%>" alt="<%= receipe.title %>" />
    <p><%= receipe.direction %></p>
  </div>
<% }) %>
