

<% include ../partials/boilerplate %>

<%# views/receipe/show.ejs %>

<div class="show-holder">

<div class="show-title">
<h1><%= receipe.title %></h1>
</div>

<div class="show-img">
<img src="<%= receipe.picture%>" alt="<%= receipe.title %>" height="300px" width="300px" />
</div>

<div class="show-detail">
<p><%= receipe.direction %></p>
</div>

  <div id="links">
  <div class="back"><a href="/user">Back</a> </div>
  <div class="edit-show"> <a href="<%= `/receipe/${receipe.id}/edit`%>">Edit receipe details</a> </div>
  <div class="formbtndel">
  <form action="/receipe/<%= receipe.id %>?_method=DELETE" method="POST">
  <input type="submit" value="Delete" />
  </form></div>
  </div>

</div>

<% include ../partials/end %>
