


<% include ../partials/boilerplate %>
<%# views/receipe/index.ejs %>



<div class="user-center">
<div class="username">
<h1> Welcome <%= user.username %> </h1>
</div>
<div> <img src="../img/p1.jpg" alt="profile pic" height="200px" width="200px"/> </div>
<div class="addlink"><a href="/receipe/new">Add a new receipe!</a></div>
</div>



<% if(receipe.length == 0) {%>
  <div> <h1>User has no recipes</h1> </div>
<% } else {%>
<div id="recipe-holder">
<% receipe.forEach(receipe => { %>
<div class="all-receipe">
  <div class="receipe">
    <div class="receipe-title">
    <h3>
      <a href="<%= `/receipe/${receipe.id}` %>">
        <%= receipe.title %>
      </a>
    </h3>
    </div>

    <div class="receipe-img">
    <img src="<%= receipe.picture%>" alt="<%= receipe.title %>" height="200px" width="200px" />
    </div>

    <div class="receipe-detail">
    <p><%= receipe.direction %></p>
    </div>

  </div>
</div>
<% }) // end of foreach%>
</div>

<% } // end of Else %>


<% include ../partials/end %>

