

<div id="container">

  <div id="title"><h1> <%= data.recipes[0].title %></h1>
  <p> <%= data.recipes[0].recipe_id %></p>
   </div>
  <div id="img"> <img src="<%= data.recipes[0].image_url %>"/>
  <a href="<%= data.recipes[0].source_url %>"><p> <%= data.recipes[0].source_url %> </p></a>
   </div>

</div>

